/* --------------Custom Styles CSS------------ */

/* Google-fonts */
body{
    font-family: 'Outfit', sans-serif;
}

/* Carousel Section Style */
.img-div img {
    height: 540px;
}
/* "Our Package" section style */
.package-heading{
    text-align: center;
    color: rgba(80, 14, 109, 0.945);
    font-weight: bold;
}
.custom-heading{
    color: rgba(9, 9, 107, 0.918);
    font-weight: bold;
}
.far{
    color: rgb(34, 81, 182);
}